#cssmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  font-size: 13px; 
  font-weight: bold;
  background: #353535;
  font-family: Arial, Helvetica, sans-serif;
/* border-bottom: 1px solid #353535; */
  zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
/*  clear: both; */
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 4px;
}
#cssmenu li a {
  display: block;
  float: left;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 9px 13px 7px 13px;
  border-bottom: 3px solid transparent;
}
#cssmenu li a:hover {
  color: #FFFFFF;
  /*border-bottom: 3px solid #00b8fd;*/
  background-color: #00004c;
}
#cssmenu li.active a {
  display: inline;
/*  border-bottom: 3px solid #00b8fd; */
  float: left;
  margin: 0;
}


